body {
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Fjalla One', sans-serif;
  font-weight: normal;
}

.main {
  height: 300px;
}

h1 {
  font-size: 40px;
  line-height: 1.5em;
  letter-spacing: -.2px;
}

.project_details {
  width: 500px;
}

.project_image_container {
  width: 500px;
}
