body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Fjalla One', sans-serif;
  font-weight: normal;
}

figure {
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 120px;
  background-color: #022636;
  color: white;
}

.logo_image {
  height: 120px;
  width: 120px;
}

.menu {
  height: inherit;
}

.menu ol {
  display: flex;
  height: inherit;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu ol li {
  height: inherit;
}

.menu_link {
  color: white;
  text-decoration: none;
  height: inherit;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.main {
  display: flex;
  align-items: center;
  height: 300px;
  background-image: url('../images/Criteria.jpg');
  background-color: #022636;
  background-size: 500px 300px;
  background-repeat: no-repeat;
  background-position-x: right;
}

.main_title {
  margin: 0;
  font-size: 40px;
  line-height: 1.5em;
  letter-spacing: -.2px;
  color: white;
}

.main_title strong {
  color: #e9cd45;
}

.portfolio {
  background-color: #fafafa;
  padding: 20px;
}

.portfolio_title {
  color: #e9cd45;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 40px;
}

.project {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid gray;
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 20px;
  background-color: white;
}

.project strong {
  font-family: 'Fjalla One', sans-serif;
}

.project_details {
  width: 500px;
}

.project_title {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 10px;
}

.project_tecnologies,
.project_date,
.project_link {
  margin: 10px 0;
}

.project_description {
  font-size: 20px;
}

.project_image_container {
  width: 500px;
}

.experiencies {
  display: flex;
}

.experiencies_title {
  margin-left: 20px;
}

.experience {
  margin: 20px;
  width: 480px;
  border-radius: 10px;
  background-color: #f4fbff;

}

.experience_image {
  width: 480px;
  height: 200px;
  object-fit: cover;
}

.experience_details {
  margin: 20px 40px;
  padding: 20px;
  background-color: white;
  text-align: center;
}

.experience_description {
  text-align: left;
}

.footer {
  display: flex;
  align-items: center;
  background-color: #1b2127;
  color: white;
}
