body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Fjalla One', sans-serif;
  font-weight: normal;
}

figure {
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 90px;
  background-color: #022636;
  color: white;
}

.logo_image {
  height: 90px;
  width: 90px;
}

.menu {
  height: inherit;
}

.menu ol {
  display: flex;
  height: inherit;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu ol li {
  height: inherit;
}

.menu_link {
  color: white;
  text-decoration: none;
  height: inherit;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.main {
  height: 300px;
  background-image: url('../images/Criteria.jpg');
  background-color: #022636;
  background-size: 500px 300px;
  background-repeat: no-repeat;
  background-position-x: right;
}

.main_title {
  margin: 0;
  font-size: 40px;
  line-height: 1.5em;
  letter-spacing: -.2px;
  color: white;
}

.main_title strong {
  color: #e9cd45;
}

.portfolio {
  background-color: #fafafa;
}

.project {
  border: 1px solid gray;
  border-radius: 10px;
  margin: 10px;
  margin-bottom: 15px;
  padding: 20px;
  background-color: white;
}

.project_details {
  width: 500px;
}

.project_image_container {
  width: 500px;
}
