@media screen and (max-width: 1024px) {
  .container {
    padding: 0 1em;
  }

  .main {
    height: auto;
    position: relative;
    overflow: hidden;
    padding: 2em;
  }

  .main_title {
    font-size: 2em;
    z-index: 2;
    background: rgba(0, 0, 0, 0.5);
  }

  .main_image {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .fa-bars {
    display: block !important;
  }

  .header {
    display: block;
    height: auto;
  }

  .header ol {
    display: initial;
  }

  .header ol li {
    height: 50px;
  }

  .header a {
    justify-content: center;
    height: 40px;
    font-size: 2em;
    text-decoration: underline;
    margin-bottom: .5em;
  }

  .logo_image {
    height: 250px;
    width: 250px;
}

  .menu {
    position: fixed;
    background-color: rgba(233, 205, 69, .9);
    z-index: 3;
    top: 0;
    right: -100vw;
    width: 100vw;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
  }

  .menu.menu_active {
    right: 0;
  }

  .header .logo {
    text-align: center;
  }

  .project {
    display: block;
  }

  .project_image_container {
    width: auto;
    text-align: center;
  }

  .project_details {
    width: auto;
    font-size: 16px;
  }

  .project_link, .project_date, .project_link {
    margin: .4em 0;
  }

  .project_title {
    font-size: 1.5em;
    margin-bottom: .3em;
  }

  .project_link {
    font-size: 1em;
  }

  .project_tecnologies {
    font-size: .7em;
  }

  .project_date {
    font-size: 1em;
  }

  .project_description {
    font-size: .8em;
  }

  .experience {
    width: auto;
    flex-shrink: initial;
  }

  .experience img {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .main_title {
    font-size: 1.5em;
  }
  .project_details {
    font-size: 12px;
  }

  .experience_details {
    margin: -2em .5em .5em;
    padding: 1em;
  }

  .contact {
    height: auto;
    padding: 1.5em 0;
    text-align: center;
    display: block;
  }

  .contact_button {
    margin: 1em auto;
  }

  .contact_title {
    margin-top: 0;
  }

  .footer {
    display: block;
    text-align: center;
    border: 1px solid transparent;
  }
}

@media screen and (max-width: 320px) {
  .main {
    padding: 2em 1em;
  }

  .main_title {
    font-size: 1.2em;
  }
}
